<!DOCTYPE html>   
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>[template:page-title]</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="keywords" content="[template:page-keywords]">
	<meta name="description" content="[template:page-description]">
	[template:meta-data-before]
	<!--[if IE]>
	[template:meta-data-ie]
	<![endif]-->
</head
<body>
	<div id="container">	
		<section id="main">
			[template:page-body]
		</section>
	</div>
	<footer>
		&copy; [this-year] | [company-name] | [ABN] | Phone: [company-phone]
	</footer>
</body>
[template:meta-data-after]
</html>